:root {
  --main-bg-color: lightblue;
  --nav-bg-color: darkblue;
  --nav-text-color: white;
  --aside-bg-color: #eee;
  --aside-text-color: #000000;
  --heading-font: 'Alice', serif;
  --body-font: 'Poppins', sans-serif;

}
