* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --main-bg-color: lightblue;
  --nav-bg-color: darkblue;
  --nav-text-color: white;
  --aside-bg-color: #eee;
  --aside-text-color: #333;
  --heading-font: 'Alice', serif;
  --body-font: 'Poppins', sans-serif;

}

header, .grid, footer{
  max-width: 960px;
  margin: 0 auto;
}

body {
  font-family: var(--body-font);
  color: var(--text-color);
}



nav {
  background-color: var(--nav-bg-color);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
}

nav a {
  color: var(--nav-text-color);
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

h1 {
  color: darkblue;
  padding-left: 1rem;
  border-bottom: 1px solid #000;
}

main img {
  float: right;
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  margin: 0 0 1rem 1rem;
}

p {
  text-align: justify;
  padding: 10px;
}

main {
  max-width: 100%;
  grid-column: 2 / 3;
  padding-top: 50px;
  margin: 0;
}

aside {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1;
}

aside img {
  width: 100%;
  height: auto;
}
aside h2 {
  position: absolute;
  top: 60px;
  left: 140px;
}

p {
  text-align: left;
  padding: 0;
  margin: 0 0  1rem 0;
}

footer {
  max-width: 960px;
  border-top: 1px solid #000;
  text-align: center;
  padding: 1rem 0;
  background: transparent;
}
.footer p {
  text-align: center;

}

/* Class Selectors */

.box {
    margin: 1rem 0;
    border: 1px solid rgb(0 0 0 / 100%);
    padding: 2rem;
    background-color: rgb(239, 248, 254);
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    max-width: 38rem;
}    

.grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
  max-width: 960px;
  margin: 0 auto;
}

